@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,700;0,800;1,300&display=swap');

body {
    background-color: #352b62;
    background-image: url(../img/izq.png), url(../img/der.png);
    background-position: left top, right top;
    background-repeat: no-repeat;
}

.contacto {
  background-color: #352b62!important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-weight: 800;
}

h2, h3, h4, h5 {
  font-weight: 700;
}

#oame h5, #apoyos h5 {
    margin-top: 20px;
}

#programas h4, #apoyos h4, #oame h4 {
    margin-bottom: 40px;
    color: #000;
}

#programas h5, #apoyos h5, #oame h5 {
    color: #352b62;
    font-weight: 800;
}

#programas li b {
    font-weight: 400;
    font-style: italic;
}

#programas hr {
    margin: 40px 0;
}

header img {
  max-width: 150px;
}

.proximamente {
    color: #fbff00;
    font-weight: 300;
    font-style: italic;
}

.btn-primary{
    background-color: #e06a1b;
    border: none;
}

#ejes {
    background-image: url(../img/bg-ejes.jpg);
    background-position: center;
    background-size: cover;
}

.ejes-transversales {
    border: 1px solid;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    text-align: center;
    width: fit-content;
    margin: 0 auto;
}

.ejes-transversales img {
    display: inline-block!important;
    margin: 0px 10px!important;
}

.contacto .card {
    background-color: #00a750!important;
    transition: .2s;
    text-decoration: none;
}

.contacto .card:hover {
    background-color: #e06a1b!important;
}


footer img {
  max-width: 500px;
  width: 100%;
}

section.botones {
    margin-top: 4%;
}

section {
  margin: 6% 0;
}

#programas img {
  max-width: 220px;
}

#ejes img {
    max-height: 90px;
}

#programas img, #ejes img {
  margin: 0 auto;
  display: block;
}

.text-justify {
  text-align: justify;
}

.contacto .card {
  padding: 20px;
}

footer {
  background: #2f354a url(../img/noise.png);
  border-top: 1px solid #afafaf;
  -webkit-box-shadow: inset 0 5px 12px rgb(0 0 0 / 13%);
  -moz-box-shadow: inset 0 5px 12px rgba(0, 0, 0, 0.13);
  box-shadow: inset 0 5px 12px rgb(0 0 0 / 13%);
  padding: 30px 0;
}

footer p {
  margin-bottom: 0;
}

@media only screen and (max-width:770px) {
  #ejes img {
    margin: initial;
}

#ejes .col-md-3 {
    max-width: 200px;
    margin: 10px auto;
}

.text-justify {
  text-align: left;
}

}

@media only screen and (max-width:667px) {

  body {
    background-image: none;
  }

}
